SbnWebDomainEjb/ejbModule/META-INF/ILL/ill-apdu-fixed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by qqq (qqq) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Additional-no-letters" type="xs:string">
		<xs:annotation>
			<xs:documentation>n. inventario</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Author" type="xs:string">
		<xs:annotation>
			<xs:documentation>autore/autori</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Author-of-article" type="xs:string">
		<xs:annotation>
			<xs:documentation>autore/autori dell'articolo</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Chargeable-units" type="xs:string">
		<xs:annotation>
			<xs:documentation>quantità</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="City" type="xs:string">
		<xs:annotation>
			<xs:documentation>città</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Client-identifier" type="xs:string">
		<xs:annotation>
			<xs:documentation>identificativo lettore</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Client-name" type="xs:string">
		<xs:annotation>
			<xs:documentation>nome lettore</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Copyright-compliance" type="xs:string">
		<xs:annotation>
			<xs:documentation>accettazioen del copyright</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Country" type="xs:string">
		<xs:annotation>
			<xs:documentation>paese</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Currency-code" type="xs:string">
		<xs:annotation>
			<xs:documentation>codice valuta</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Current-state">
		<xs:annotation>
			<xs:documentation>stato corrente</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="state" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="F112A"/>
						<xs:enumeration value="F1218"/>
						<xs:enumeration value="F118"/>
						<xs:enumeration value="F1211"/>
						<xs:enumeration value="F1212"/>
						<xs:enumeration value="F1214"/>
						<xs:enumeration value="F1215"/>
						<xs:enumeration value="F126"/>
						<xs:enumeration value="F113B"/>
						<xs:enumeration value="F113A"/>
						<xs:enumeration value="F1217"/>
						<xs:enumeration value="F114"/>
						<xs:enumeration value="F115"/>
						<xs:enumeration value="F116"/>
						<xs:enumeration value="F128"/>
						<xs:enumeration value="F12D"/>
						<xs:enumeration value="F12E"/>
						<xs:enumeration value="F12A"/>
						<xs:enumeration value="F129"/>
						<xs:enumeration value="F127"/>
						<xs:enumeration value="F127A"/>
						<xs:enumeration value="F116A"/>
						<xs:enumeration value="F116B"/>
						<xs:enumeration value="F1220"/>
						<xs:enumeration value="F1221"/>
						<xs:enumeration value="F010"/>
						<xs:enumeration value="F020"/>
						<xs:enumeration value="F030"/>
						<xs:enumeration value="F040"/>
						<xs:enumeration value="F050"/>
						<xs:enumeration value="F060"/>
						<xs:enumeration value="F070"/>
						<xs:enumeration value="F080"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Damaged" type="DamagedType">
		<xs:annotation>
			<xs:documentation>materiale danneggiato</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Date" type="DateType">
		<xs:annotation>
			<xs:documentation>data</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Date-checked-in">
		<xs:annotation>
			<xs:documentation>data di rientro del materiale</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Date-due">
		<xs:annotation>
			<xs:documentation>data di scadenza del prestito</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Date-for-reply">
		<xs:annotation>
			<xs:documentation>data entro cui si desidera una risposta sulla condizione</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Date-of-last-transiction">
		<xs:annotation>
			<xs:documentation>data dell'ultima transazione</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Date-of-most-recent-service">
		<xs:annotation>
			<xs:documentation>data dell'ultimo passaggio di stato</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Date-received">
		<xs:annotation>
			<xs:documentation>data di ricezione</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Date-requested">
		<xs:annotation>
			<xs:documentation>data richiesta</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Date-requester">
		<xs:annotation>
			<xs:documentation>data richiesta</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Date-returned">
		<xs:annotation>
			<xs:documentation>data di restituzione </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Date-shipped">
		<xs:annotation>
			<xs:documentation>data spedizione</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Delivery-address" type="Delivery-addressType">
		<xs:annotation>
			<xs:documentation>indirizzo di consegna del documento</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Delivery-service">
		<xs:annotation>
			<xs:documentation>Contiene modalita' di spedizione preferita dall'utente:
01=Posta ordinaria 
02=Posta prioritaria 
03=Posta celere
04=E-mail
05=Fax 
06=FTP</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="DelivTyp" type="DeliveryType"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Desired-due-date">
		<xs:annotation>
			<xs:documentation>data di nuova scadenza proposta</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Edition" type="xs:string">
		<xs:annotation>
			<xs:documentation>edizione</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Electronic-address">
		<xs:annotation>
			<xs:documentation>indirizzo di consegna elettronica</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="AddrTyp" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Email" type="xs:string">
		<xs:annotation>
			<xs:documentation>indirizzo e-mail</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Error-report" type="xs:string">
		<xs:annotation>
			<xs:documentation>segnalazione di errore</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Estimate-date-available">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Expired" type="ExpiredType">
		<xs:annotation>
			<xs:documentation>richiesta scaduta</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Expiry-date">
		<xs:annotation>
			<xs:documentation>data di scadenza</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="Date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="History-report">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Date-requested" minOccurs="0"/>
				<xs:element ref="Author" minOccurs="0"/>
				<xs:element ref="Title" minOccurs="0"/>
				<xs:element ref="Author-of-article" minOccurs="0"/>
				<xs:element ref="Title-of-article" minOccurs="0"/>
				<xs:element ref="Date-of-last-transiction"/>
				<xs:element ref="Most-recent-service" minOccurs="0"/>
				<xs:element ref="Date-of-most-recent-service" minOccurs="0"/>
				<xs:element ref="Initiator-of-most-recent-service" minOccurs="0"/>
				<xs:element ref="Most-recent-service-note" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Hold-placed">
		<xs:annotation>
			<xs:documentation>sospensione della richiesta</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="Estimate-date-available"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" fixed="F1215"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ILL-APDU">
		<xs:annotation>
			<xs:documentation>Elemento radice</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="ILL-Request" type="ILL_RequestType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Forward-Notification" type="Forward-NotificationType"/>
				<xs:element name="Shipped" type="ShippedType"/>
				<xs:element name="ILL-Answer" type="ILL_AnswerType"/>
				<xs:element name="Conditional-Reply" type="ConditionalReplyType"/>
				<xs:element name="Cancel" type="CancelType"/>
				<xs:element name="Received" type="ReceivedType"/>
				<xs:element name="Recall" type="RecallType"/>
				<xs:element name="Returned" type="ReturnedType"/>
				<xs:element name="Checked-In" type="CheckedInType"/>
				<xs:element name="Overdue" type="OverdueType"/>
				<xs:element name="Renew" type="RenewType"/>
				<xs:element name="Renew-Answer" type="RenewAnswerType"/>
				<xs:element name="Status-query" type="StatusQueryType"/>
				<xs:element name="Status-or-error-report" type="StatusOrErrorReportType"/>
				<xs:element name="Expired" type="ExpiredType"/>
				<xs:element name="Lost" type="LostType"/>
				<xs:element name="Damaged" type="DamagedType"/>
				<xs:element name="Cancel-Reply" type="CancelReplyType"/>
				<xs:element name="Message" type="MessageType"/>
				<xs:element name="bib" type="ILLBiblioType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Initiator-of-most-recent-service" type="xs:string">
		<xs:annotation>
			<xs:documentation>contiene l'identificativo del soggetto che ha registrato l'ultimo stato</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Issue" type="xs:string">
		<xs:annotation>
			<xs:documentation>fascicolo</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Item-Id" type="Item-IdType">
		<xs:annotation>
			<xs:documentation>Contiene i dati del documento oggetto della richiesta</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Item-type">
		<xs:annotation>
			<xs:documentation>Contiene il tipo del documento oggetto della richiesta: M=Monografia, S=Periodico, A=Altro
</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Ityp">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="M"/>
								<xs:enumeration value="S"/>
								<xs:enumeration value="A"/>
								<xs:enumeration value="P"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Location-note" type="xs:string">
		<xs:annotation>
			<xs:documentation>collocazione documento</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Location-provider">
		<xs:annotation>
			<xs:documentation>risposta a richiesta di localizzazione</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" fixed="F1213"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Lost" type="LostType">
		<xs:annotation>
			<xs:documentation>materiale smarrito</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Maximum-cost">
		<xs:annotation>
			<xs:documentation>costo massimo del servizio</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name="Amount" type="AmountType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Medium-type">
		<xs:annotation>
			<xs:documentation>Contiene il tipo di materiale del documento oggetto della richiesta
			VP  Periodico
			CD  Compact Disc
			MF  Microfilm
			CR  CD Rom
			a  Testo a stampa
			b  Manoscritto
			c  Musica a stampa
			d  Musica manoscritta
			e  Documento cartografico
			g  Materiale video o proiezioni
			i  Registrazioni sonore
			k  Documento grafico
			l  Archivio elettronico
			m  Documento multimediale
</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="Mtyp">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="VM"/>
								<xs:enumeration value="VP"/>
								<xs:enumeration value="MF"/>
								<xs:enumeration value="CD"/>
								<xs:enumeration value="CR"/>
								<xs:enumeration value="Z"/>
								<xs:enumeration value="a"/>
								<xs:enumeration value="b"/>
								<xs:enumeration value="c"/>
								<xs:enumeration value="d"/>
								<xs:enumeration value="e"/>
								<xs:enumeration value="g"/>
								<xs:enumeration value="i"/>
								<xs:enumeration value="k"/>
								<xs:enumeration value="l"/>
								<xs:enumeration value="m"/>
								<xs:enumeration value="1"/>
								<xs:enumeration value="2"/>
								<xs:enumeration value="3"/>
								<xs:enumeration value="4"/>
								<xs:enumeration value="5"/>
								<xs:enumeration value="6"/>
								<xs:enumeration value="7"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Message" type="MessageType">
		<xs:annotation>
			<xs:documentation>messaggio</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Monetary-value" type="xs:string">
		<xs:annotation>
			<xs:documentation>importo in valuta</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Most-recent-service">
		<xs:annotation>
			<xs:documentation>ultimo passaggio di stato</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Current-state"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Most-recent-service-note">
		<xs:annotation>
			<xs:documentation>nota sull'ultimo passaggio di stato</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Note"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="National-bibliografic-number" type="xs:string">
		<xs:annotation>
			<xs:documentation>BID SBN</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Need-before-date">
		<xs:annotation>
			<xs:documentation>data massima per la consegna</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="Date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Note" type="xs:string">
		<xs:annotation>
			<xs:documentation>note</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Notification-note">
		<xs:annotation>
			<xs:documentation>nota sulla notifica</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Note"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Overdue" type="OverdueType">
		<xs:annotation>
			<xs:documentation>sollecito</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Pagination" type="xs:string">
		<xs:annotation>
			<xs:documentation>pagine</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Payment-provided">
		<xs:annotation>
			<xs:documentation>indicatore di pagamento avvenuto</xs:documentation>
		</xs:annotation>
		<xs:complexType/>
	</xs:element>
	<xs:element name="Physical-delivery" type="xs:string">
		<xs:annotation>
			<xs:documentation>modalità di consegna</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Place-of-publication" type="xs:string">
		<xs:annotation>
			<xs:documentation>luogo di pubblicazione</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Place-on-hold">
		<xs:annotation>
			<xs:documentation>indicatore di possibilità di sospensione</xs:documentation>
		</xs:annotation>
		<xs:complexType/>
	</xs:element>
	<xs:element name="Postal-address">
		<xs:annotation>
			<xs:documentation>indirizzo postale</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="Street-and-number" minOccurs="0"/>
				<xs:element ref="City" minOccurs="0"/>
				<xs:element ref="Postal-code" minOccurs="0"/>
				<xs:element ref="Region" minOccurs="0"/>
				<xs:element ref="Country" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Postal-code" type="xs:string">
		<xs:annotation>
			<xs:documentation>codice postale</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Publication-date" type="xs:string">
		<xs:annotation>
			<xs:documentation>data di pubblicazione</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Publisher" type="xs:string">
		<xs:annotation>
			<xs:documentation>editore</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Recall" type="RecallType">
		<xs:annotation>
			<xs:documentation>sollecito urgente della restituzione del documento</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Received" type="ReceivedType">
		<xs:annotation>
			<xs:documentation>materiale ricevuto</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Region" type="xs:string">
		<xs:annotation>
			<xs:documentation>provincia</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Renew" type="RenewType">
		<xs:annotation>
			<xs:documentation>richiesta di rinnovo del prestito</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Renew-Answer" type="RenewAnswerType">
		<xs:annotation>
			<xs:documentation>risposta alla richiesta di rinnovo del prestito</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Requester-Id" type="xs:string">
		<xs:annotation>
			<xs:documentation>identificativo requester</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Requester-note">
		<xs:annotation>
			<xs:documentation>nota del requester</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Note"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Requester-optional-messages">
		<xs:annotation>
			<xs:documentation>Contiene policy del richiedente </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="CanSendRECEIVED">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:enumeration value="0"/>
								<xs:enumeration value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="CanSendRETURNED">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:enumeration value="0"/>
								<xs:enumeration value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="requesterSHIPPED">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="requires"/>
								<xs:enumeration value="desires"/>
								<xs:enumeration value="neither"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="requesterCHECKE-IN">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="requires"/>
								<xs:enumeration value="desires"/>
								<xs:enumeration value="neither"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Responder-Id" type="xs:string">
		<xs:annotation>
			<xs:documentation>Identificativo responder</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Responder-note">
		<xs:annotation>
			<xs:documentation>nota del responder</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Note"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Responder-optional-messages">
		<xs:annotation>
			<xs:documentation> Contiene policy del responder</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="CanSendSHIPPED">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:enumeration value="0"/>
								<xs:enumeration value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="CanSendCHECKEDIN">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:enumeration value="0"/>
								<xs:enumeration value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="responderRECEIVED">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="requires"/>
								<xs:enumeration value="desires"/>
								<xs:enumeration value="neither"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="responderRETURNED">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="requires"/>
								<xs:enumeration value="desires"/>
								<xs:enumeration value="neither"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Retry">
		<xs:annotation>
			<xs:documentation>richiesta non soddisfacibile, indirizzamento ad altro responde</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" fixed="F118"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Returned" type="ReturnedType">
		<xs:annotation>
			<xs:documentation>rispedizione del materiale </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Series-title-number" type="xs:string">
		<xs:annotation>
			<xs:documentation>titolo della serie / collana</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Sponsoring-body" type="xs:string">
		<xs:annotation>
			<xs:documentation> ente curatore</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Status-query" type="StatusQueryType">
		<xs:annotation>
			<xs:documentation> richiesta di comunicazione dello stato attuale di una richiesta</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Status-report" type="Status-reportType">
		<xs:annotation>
			<xs:documentation>report sullo stato della richiesta</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Street-and-number" type="xs:string">
		<xs:annotation>
			<xs:documentation>indirizzo e numero civico</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Sub-title" type="xs:string">
		<xs:annotation>
			<xs:documentation>sottotitolo</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Supply-date">
		<xs:annotation>
			<xs:documentation>data in cui sarà disponibile il documento</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Supply-details">
		<xs:annotation>
			<xs:documentation>contiene i dettagli della spedizione</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="Date-shipped"/>
				<xs:element ref="Date-due"/>
				<xs:element ref="Chargeable-units" minOccurs="0"/>
				<xs:element name="Cost" type="CostType" minOccurs="0"/>
				<xs:element name="Shipped-via" type="ShippedViaType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Supply-medium-type" type="Supply-medium-typeType">
		<xs:annotation>
			<xs:documentation>contiene il tipo di fornitura richiesto
			00=Fotocopie
			01=Copia di file su floppy disc 
			02=Stampa su carta di file da banche dati 
			03=Fotocopie da microfilm
			04=Fotografie
			05=Documento Originale 
			07=Formato Elettronico 
			08=copia di file su cd-rom 
			09=Scansione digitale
			10=Scansione digitale da microfilm
			11=Stampa da catalogo, cd rom, file digitale 
			12=Stampa su carta fotografica da file digitale 
			13=Altro
</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="System-no" type="xs:string">
		<xs:annotation>
			<xs:documentation>altro codice identificativo del documento</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Time" type="xs:string">
		<xs:annotation>
			<xs:documentation>ora</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Title" type="xs:string">
		<xs:annotation>
			<xs:documentation>titolo</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Title-of-article" type="xs:string">
		<xs:annotation>
			<xs:documentation>titolo articolo</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Transaction-Id" type="TransactionIdType">
		<xs:annotation>
			<xs:documentation>identificativo della transazione</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Unfilled">
		<xs:annotation>
			<xs:documentation>richiesta non soddisfacibile</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" fixed="F1212"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Verification-reference-source" type="xs:string">
		<xs:annotation>
			<xs:documentation>fonte di provenienza</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Volume-issue" type="xs:string">
		<xs:annotation>
			<xs:documentation>n. volume</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Will-supply">
		<xs:annotation>
			<xs:documentation>attivazione richiesta sospesa</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Supply-date"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" fixed="F1214"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Year-issue" type="xs:string">
		<xs:annotation>
			<xs:documentation> anno fascicolo</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AmountType">
		<xs:sequence>
			<xs:element ref="Currency-code"/>
			<xs:element ref="Monetary-value"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Forward-NotificationType">
		<xs:sequence>
			<xs:element ref="Transaction-Id"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType"/>
			<xs:element ref="Requester-Id"/>
			<xs:element ref="Responder-Id"/>
			<xs:element ref="Notification-note" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" fixed="F1214"/>
	</xs:complexType>
	<xs:complexType name="AnswerType">
		<xs:choice>
			<xs:element name="Conditional" type="ConditionalType"/>
			<xs:element ref="Retry"/>
			<xs:element ref="Unfilled"/>
			<xs:element ref="Location-provider"/>
			<xs:element ref="Will-supply"/>
			<xs:element ref="Hold-placed"/>
			<xs:element name="Estimate" type="EstimateType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ILL_AnswerType">
		<xs:sequence>
			<xs:element ref="Transaction-Id"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType"/>
			<xs:element ref="Requester-Id"/>
			<xs:element ref="Responder-Id"/>
			<xs:element ref="Responder-note" minOccurs="0"/>
			<xs:element ref="Responder-optional-messages" minOccurs="0"/>
			<xs:element name="Answer-type" type="AnswerType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShippedType">
		<xs:sequence>
			<xs:element ref="Transaction-Id"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType"/>
			<xs:element ref="Requester-Id"/>
			<xs:element ref="Responder-Id"/>
			<xs:element name="Client-Id" type="ClientIdType" minOccurs="0"/>
			<xs:element ref="Supply-details"/>
			<xs:element ref="Responder-note" minOccurs="0"/>
			<xs:element ref="Responder-optional-messages" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" fixed="F127"/>
		<xs:attribute name="shippedServiceType" type="ILLServiceType"/>
	</xs:complexType>
	<xs:complexType name="ILL_RequestType">
		<xs:sequence>
			<xs:element ref="Transaction-Id"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType"/>
			<xs:element ref="Requester-Id"/>
			<xs:element ref="Responder-Id"/>
			<xs:element ref="Delivery-address" minOccurs="0"/>
			<xs:element ref="Delivery-service" minOccurs="0"/>
			<xs:element ref="Requester-optional-messages" minOccurs="0"/>
			<xs:element ref="Supply-medium-type" maxOccurs="unbounded"/>
			<xs:element ref="Place-on-hold" minOccurs="0"/>
			<xs:element name="Client-Id" type="ClientIdType"/>
			<xs:element ref="Item-Id"/>
			<xs:element ref="Date-requester" minOccurs="0"/>
			<xs:element ref="Need-before-date" minOccurs="0"/>
			<xs:element ref="Expiry-date" minOccurs="0"/>
			<xs:element name="Cost-info-type" type="CostInfoType" minOccurs="0"/>
			<xs:element ref="Copyright-compliance" minOccurs="0"/>
			<xs:element ref="Requester-note" minOccurs="0"/>
			<xs:element ref="Current-state" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="ILL-SERVICE-TYPE" type="ILLServiceType" use="required"/>
	</xs:complexType>
	<xs:complexType name="CancelType">
		<xs:sequence>
			<xs:element ref="Transaction-Id"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType"/>
			<xs:element ref="Requester-Id"/>
			<xs:element ref="Responder-Id"/>
			<xs:element ref="Requester-note" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" fixed="F112A"/>
	</xs:complexType>
	<xs:complexType name="ClientIdType">
		<xs:sequence>
			<xs:element ref="Client-identifier" minOccurs="0"/>
			<xs:element ref="Client-name" minOccurs="0"/>
			<xs:element ref="Email" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConditionalType">
		<xs:sequence minOccurs="0">
			<xs:element ref="Date-for-reply"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" fixed="F1211"/>
		<xs:attribute name="conditions" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="01"/>
					<xs:enumeration value="02"/>
					<xs:enumeration value="03"/>
					<xs:enumeration value="04"/>
					<xs:enumeration value="05"/>
					<xs:enumeration value="06"/>
					<xs:enumeration value="07"/>
					<xs:enumeration value="08"/>
					<xs:enumeration value="13"/>
					<xs:enumeration value="14"/>
					<xs:enumeration value="15"/>
					<xs:enumeration value="16"/>
					<xs:enumeration value="22"/>
					<xs:enumeration value="23"/>
					<xs:enumeration value="24"/>
					<xs:enumeration value="25"/>
					<xs:enumeration value="27"/>
					<xs:enumeration value="28"/>
					<xs:enumeration value="30"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ConditionalReplyType">
		<xs:sequence>
			<xs:element ref="Transaction-Id"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType"/>
			<xs:element ref="Requester-Id"/>
			<xs:element ref="Responder-Id"/>
			<xs:element ref="Requester-note" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" fixed="F113"/>
		<xs:attribute name="answer" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="B"/>
					<xs:enumeration value="A"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CostType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Amount" type="AmountType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CheckedInType">
		<xs:sequence>
			<xs:element ref="Transaction-Id"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType"/>
			<xs:element ref="Requester-Id"/>
			<xs:element ref="Responder-Id"/>
			<xs:element ref="Date-checked-in"/>
			<xs:element ref="Responder-note" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" fixed="F128"/>
	</xs:complexType>
	<xs:complexType name="CostEstimateType">
		<xs:sequence>
			<xs:element ref="Note" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceDateTimeType">
		<xs:sequence>
			<xs:element ref="Date"/>
			<xs:element ref="Time"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShippedViaType">
		<xs:sequence>
			<xs:element ref="Physical-delivery" minOccurs="0"/>
			<xs:element ref="Electronic-address" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StandardNumberType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Standard-type" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="A"/>
							<xs:enumeration value="B"/>
							<xs:enumeration value="C"/>
							<xs:enumeration value="D"/>
							<xs:enumeration value="E"/>
							<xs:enumeration value="I"/>
							<xs:enumeration value="J"/>
							<xs:enumeration value="L"/>
							<xs:enumeration value="M"/>
							<xs:enumeration value="P"/>
							<xs:enumeration value="R"/>
							<xs:enumeration value="S"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="Standard-code" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="StatusOrErrorReportType">
		<xs:sequence>
			<xs:element ref="Transaction-Id" minOccurs="0"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType" minOccurs="0"/>
			<xs:element ref="Requester-Id" minOccurs="0"/>
			<xs:element ref="Responder-Id" minOccurs="0"/>
			<xs:element ref="Status-report" minOccurs="0"/>
			<xs:element ref="Error-report" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CancelReplyType">
		<xs:sequence>
			<xs:element ref="Transaction-Id"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType"/>
			<xs:element ref="Requester-Id"/>
			<xs:element ref="Responder-Id"/>
			<xs:element ref="Responder-note" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" fixed="F122"/>
		<xs:attribute name="answer" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CostInfoType">
		<xs:sequence minOccurs="0">
			<xs:element ref="Maximum-cost" minOccurs="0"/>
			<xs:element ref="Payment-provided" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EstimateType">
		<xs:sequence minOccurs="0">
			<xs:element name="Cost-estimate" type="CostEstimateType"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" fixed="F127A"/>
	</xs:complexType>
	<xs:simpleType name="DeliveryType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ILLBiblioType">
		<xs:sequence>
			<xs:element name="idb" type="xs:string"/>
			<xs:element name="std">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="des" type="xs:string" minOccurs="0"/>
			<xs:element name="ind" type="xs:string" minOccurs="0"/>
			<xs:element name="servprestito" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="servdd" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReceivedType">
		<xs:sequence>
			<xs:element ref="Transaction-Id"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType"/>
			<xs:element ref="Requester-Id"/>
			<xs:element ref="Responder-Id"/>
			<xs:element ref="Date-received"/>
			<xs:element ref="Requester-note" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" fixed="F114"/>
		<xs:attribute name="shippedServiceType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="PR"/>
					<xs:enumeration value="PI"/>
					<xs:enumeration value="RI"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RecallType">
		<xs:sequence>
			<xs:element ref="Transaction-Id"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType"/>
			<xs:element ref="Requester-Id"/>
			<xs:element ref="Responder-Id"/>
			<xs:element ref="Responder-note" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" fixed="F12E"/>
	</xs:complexType>
	<xs:complexType name="ReturnedType">
		<xs:sequence>
			<xs:element ref="Transaction-Id"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType"/>
			<xs:element ref="Requester-Id"/>
			<xs:element ref="Responder-Id"/>
			<xs:element ref="Date-returned"/>
			<xs:element ref="Requester-note" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" fixed="F116"/>
	</xs:complexType>
	<xs:complexType name="OverdueType">
		<xs:sequence>
			<xs:element ref="Transaction-Id"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType"/>
			<xs:element ref="Requester-Id"/>
			<xs:element ref="Responder-Id"/>
			<xs:element ref="Date-due"/>
			<xs:element ref="Responder-note" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" fixed="F12D"/>
	</xs:complexType>
	<xs:complexType name="RenewType">
		<xs:sequence>
			<xs:element ref="Transaction-Id"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType"/>
			<xs:element ref="Requester-Id"/>
			<xs:element ref="Responder-Id"/>
			<xs:element ref="Desired-due-date"/>
			<xs:element ref="Requester-note" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" fixed="F115"/>
	</xs:complexType>
	<xs:complexType name="RenewAnswerType">
		<xs:sequence>
			<xs:element ref="Transaction-Id"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType"/>
			<xs:element ref="Requester-Id"/>
			<xs:element ref="Responder-Id"/>
			<xs:element ref="Date-due"/>
			<xs:element ref="Responder-note" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" fixed="F12"/>
		<xs:attribute name="answer" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="9"/>
					<xs:enumeration value="A"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StatusQueryType">
		<xs:sequence>
			<xs:element ref="Transaction-Id"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType"/>
			<xs:element ref="Requester-Id"/>
			<xs:element ref="Responder-Id"/>
			<xs:element ref="Note" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExpiredType">
		<xs:sequence minOccurs="0">
			<xs:element ref="Transaction-Id"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType"/>
			<xs:element ref="Requester-Id"/>
			<xs:element ref="Responder-Id"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" fixed="F1218"/>
	</xs:complexType>
	<xs:complexType name="LostType">
		<xs:sequence>
			<xs:element ref="Transaction-Id"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType"/>
			<xs:element ref="Requester-Id"/>
			<xs:element ref="Responder-Id"/>
			<xs:element ref="Note" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" fixed="F116A"/>
	</xs:complexType>
	<xs:complexType name="DamagedType">
		<xs:sequence>
			<xs:element ref="Transaction-Id"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType"/>
			<xs:element ref="Requester-Id"/>
			<xs:element ref="Responder-Id"/>
			<xs:element ref="Note" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" fixed="F116B"/>
	</xs:complexType>
	<xs:complexType name="MessageType">
		<xs:sequence>
			<xs:element ref="Transaction-Id"/>
			<xs:element name="Service-date-time" type="ServiceDateTimeType"/>
			<xs:element ref="Requester-Id"/>
			<xs:element ref="Responder-Id"/>
			<xs:element ref="Note"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionIdType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="institution-symbol" type="xs:string"/>
				<xs:attribute name="name-of-institution" type="xs:string"/>
				<xs:attribute name="transaction-group-qualifier" type="xs:string"/>
				<xs:attribute name="transaction-qualifier" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DateType">
		<xs:sequence>
			<xs:element name="Year">
				<xs:annotation>
					<xs:documentation>anno</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="9999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Month">
				<xs:annotation>
					<xs:documentation>mese</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Day">
				<xs:annotation>
					<xs:documentation>giorno</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Item-IdType">
		<xs:sequence>
			<xs:element ref="Item-type" minOccurs="0"/>
			<xs:element ref="Medium-type" minOccurs="0"/>
			<xs:element ref="Location-note" minOccurs="0"/>
			<xs:element ref="Author" minOccurs="0"/>
			<xs:element ref="Title"/>
			<xs:element ref="Sub-title" minOccurs="0"/>
			<xs:element ref="Sponsoring-body" minOccurs="0"/>
			<xs:element ref="Place-of-publication" minOccurs="0"/>
			<xs:element ref="Publisher" minOccurs="0"/>
			<xs:element ref="Series-title-number" minOccurs="0"/>
			<xs:element ref="Volume-issue" minOccurs="0"/>
			<xs:element ref="Year-issue" minOccurs="0"/>
			<xs:element ref="Issue" minOccurs="0"/>
			<xs:element ref="Edition" minOccurs="0"/>
			<xs:element ref="Publication-date" minOccurs="0"/>
			<xs:element ref="Author-of-article" minOccurs="0"/>
			<xs:element ref="Title-of-article" minOccurs="0"/>
			<xs:element ref="Pagination" minOccurs="0"/>
			<xs:element ref="National-bibliografic-number" minOccurs="0"/>
			<xs:element name="Standard-number" type="StandardNumberType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Verification-reference-source" minOccurs="0"/>
			<xs:element ref="Additional-no-letters" minOccurs="0"/>
			<xs:element ref="System-no" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Status-reportType">
		<xs:sequence>
			<xs:element ref="History-report" minOccurs="0"/>
			<xs:element ref="Current-state" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Delivery-addressType">
		<xs:sequence>
			<xs:element ref="Postal-address" minOccurs="0"/>
			<xs:element ref="Electronic-address" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Supply-medium-typeType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="SupplyTyp">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="00"/>
							<xs:enumeration value="02"/>
							<xs:enumeration value="01"/>
							<xs:enumeration value="03"/>
							<xs:enumeration value="04"/>
							<xs:enumeration value="05"/>
							<xs:enumeration value="07"/>
							<xs:enumeration value="08"/>
							<xs:enumeration value="09"/>
							<xs:enumeration value="10"/>
							<xs:enumeration value="11"/>
							<xs:enumeration value="12"/>
							<xs:enumeration value="13"/>
							<xs:enumeration value="1"/>
							<xs:enumeration value="2"/>
							<xs:enumeration value="3"/>
							<xs:enumeration value="4"/>
							<xs:enumeration value="5"/>
							<xs:enumeration value="6"/>
							<xs:enumeration value="7"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ILLServiceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LC"/>
			<xs:enumeration value="PR"/>
			<xs:enumeration value="RI"/>
			<xs:enumeration value="CR"/>
			<xs:enumeration value="CP"/>
			<xs:enumeration value="PI"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
