SBNWeb/WebContent/wsdl/TBConnectorWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:TBConnectorWSService" xmlns:intf="urn:TBConnectorWSService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:TBConnectorWSService">
   <!--WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 PDT)-->
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:TBConnectorWSService">
         <element name="sync">
            <complexType>
               <sequence>
                  <element name="pass" type="xsd:string"/>
                  <element name="entity" type="xsd:string"/>
                  <element name="op" type="xsd:string"/>
                  <element name="sourceId" type="xsd:string"/>
                  <element name="cv-xml" type="xsd:base64Binary"/>
               </sequence>
            </complexType>
         </element>
         <element name="syncResponse">
            <complexType>
               <sequence>
                  <element name="syncReturn" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
      </schema>
   </wsdl:types>
   <wsdl:message name="syncRequest">
      <wsdl:part element="impl:sync" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="syncResponse">
      <wsdl:part element="impl:syncResponse" name="parameters"/>
   </wsdl:message>
   <wsdl:portType name="TBConnectorWS">
      <wsdl:operation name="sync">
         <wsdl:input message="impl:syncRequest" name="syncRequest"/>
         <wsdl:output message="impl:syncResponse" name="syncResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="TBConnectorWSSoapBinding" type="impl:TBConnectorWS">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="sync">
         <wsdlsoap:operation soapAction="urn:TBConnectorWSService/sync"/>
         <wsdl:input name="syncRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="syncResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="TBConnectorWSService">
      <wsdl:port binding="impl:TBConnectorWSSoapBinding" name="TBConnectorWS">
         <wsdlsoap:address location="http://localhost:8080/sbn/services/TBConnectorWS"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
